<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div *ngIf="isBlank" class="alert alert-warning" role="alert">
          <strong>Warning!</strong> You havent entered a username or password!
        </div>
        <form class="form-horizontal">
          <fieldset>
            <legend>Sign in with your Runnerbeans account</legend>
            <div class="form-group">
              <label for="email" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                <input [(ngModel)]="loginCredentials.email" type="email" class="form-control" name="email" placeholder="Email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-lg-2 control-label">Password</label>
              <div class="col-lg-10">
                <input [(ngModel)]="loginCredentials.password" type="password" class="form-control" name="password" placeholder="Password" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" (click)="checkValidation()">Sign in</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>



