<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Hello {{firstName}}</h3>
      </div>
      <div class="panel-body">
        You can add your results by clicking on Add sport button below...
      </div>
      <div class="panel-footer">
        <a class="btn btn-primary btn-lg" routerLink="/sport" role="button">Add sport</a>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<div *ngFor="let result of results.reverse()" class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{result.user.name}} - {{result.activity}}</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tbody>
            <tr>
              <th>
                Distance
              </th>
              <td>
                {{result.distance}} (Kilometres)
              </td>
            </tr>
            <tr>
              <th>
                Time
              </th>
              <td>
                {{result.time}} (hh:mm:ss)
              </td>
            </tr>
            <tr>
              <th>
                Your fitness map:
              </th>
              <td>
                <sebm-google-map [latitude]="result.waypoints[0].lat" [longitude]="result.waypoints[0].lon" [zoom]="10">
                  <sebm-google-map-polyline>
                    <sebm-google-map-polyline-point *ngFor="let point of result.waypoints"
                                                    [latitude]="point.lat" [longitude]="point.lon">
                    </sebm-google-map-polyline-point>
                  </sebm-google-map-polyline>
                </sebm-google-map>
              </td>
            </tr>
            <tr>
              <th>
                Wows
              </th>
              <td>
                {{result.wow}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <button class="btn btn-danger" id="delete"(click)="deleteFitnessResult(result._id)">Delete</button>
        <button class="btn btn-success" id="wow"(click)="addWow(result._id)">Wow</button>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
