<form class="form-horizontal" novalidate #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm)">
  <fieldset>
    <legend>Register your Runnerbeans account here</legend>
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Your Name</label>
      <div class="col-lg-10">
        <input type="text" name="name" class="form-control" id="inputName" placeholder="Name" ngModel #userName="ngModel" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" name="email" class="form-control" id="inputEmail" placeholder="Email" ngModel #userEmail="ngModel" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" ngModel #userPassword="ngModel" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
