<!--https://www.youtube.com/watch?v=1srD3Mdvf50&list=PL55RiY5tL51oGJorjEgl6NVeDbx_fO5jR&index=11-->
<script src="/runnerbean/node_modules/angular/angular.js"></script>
<h1>{{ title }}</h1>
{{#if success}}
    <section class="success">
        <h2>It worked!</h2>
    </section>
{{ else }}
    {{#if errors}}
        <section class="errors">
            <ul>
                {{# each errors}}
                    <li>{{this.msg}}</li>
                {{/each}}
            </ul>
        </section>
    {{/if}}
<p>Welcome to {{ title }}</p>
<p>This is the homepage</p>
    <form class="form-horizontal" action="/signup" method="post">
        <fieldset>
            <legend>Register your Runnerbeans account here</legend>
            <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Your Name</label>
                <div class="col-lg-10">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" name="email" class="form-control" id="email" placeholder="Email" required>
                </div>
            </div>
            <div class="form-group">
                <label for="Password" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                </div>
            </div>
            <div class="form-group">
                <label for="Password" class="col-lg-2 control-label">Confirm Password</label>
                <div class="col-lg-10">
                    <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
{{/if}}