<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{firstName}} {{lastname}}</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tbody>
          <tr>
            <th>
              Your Id:
            </th>
            <td>
              {{userId}}
            </td>
          </tr>
          <tr>
            <th>
              Your Email:
            </th>
            <td>
              {{userEmail}}
            </td>
          </tr>
          <tr>
            <th>
              Change your email:
            </th>
            <td *ngIf="editMode">
              <form class="form-horizontal">
                <fieldset>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Change Email</button>
                    </span>
                  </div>
                </fieldset>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" id="edit" (click)="changeEmail()">Edit Email</button>
        <button class="btn btn-danger" id="delete" (click)="deleteUserAccount(userId)">Delete Account</button>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
